cloud_id            = "ffffffffffff"
folder_id           = "ffffffffffff"
service_account_key = "../../key.json"
subnet_id           = "ffffffffffff"
private_key_path    = "~/.ssh/id_rsa"
public_key_path     = "~/.ssh/id_rsa.pub"
zone                = "ru-central1-a"
app_disk_image      = "ffffffffffff"
db_disk_image       = "ffffffffffff"
